{{ define "main" }}
	<div class="w3-container w3-padding-16">
		<div class="w3-card w3-round" style="max-width: 800px; margin: auto;">
			<h2 class="w3-container">{{.Title}}</h2>
			<p class="w3-tiny w3-text-red w3-container"><time datetime="{{.Date}}">{{ dateFormat "Mon, Jan 06'06" .Date}}</time></p>
			<div class="w3-container w3-topbar w3-bottombar">
				{{ if .Params.expires }}
					<p>Expires on:
						{{ range (.GetTerms "expires")}}
							<a href="{{ .Permalink }}" class="w3-tag w3-round">{{ dateFormat "Jan 06" .LinkTitle}}</a>
						{{end}}
					</p>
				{{ end }}
				{{ if .Params.salaries }}
					<p>Expires on:
						{{ range (.GetTerms "salaries")}}
							<a href="{{ .Permalink }}" class="w3-tag w3-round">{{ .LinkTitle}}</a>
						{{end}}
					</p>
				{{ end }}
				{{ if .Params.locations }}
					<p>Expires on:
						{{ range (.GetTerms "locations")}}
							<a href="{{ .Permalink }}" class="w3-tag w3-round">{{ .LinkTitle}}</a>
						{{end}}
					</p>
				{{ end }}
				{{ if .Params.qualifications }}
					<p>Expires on:
						{{ range (.GetTerms "qualifications")}}
							<a href="{{ .Permalink }}" class="w3-tag w3-round">{{ .LinkTitle}}</a>
						{{end}}
					</p>
				{{ end }}
			</div>
			<div class="w3-container">{{.Content}}</div>
		</div>
	</div>
{{ end }}