<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "head.html" . }}
	<style>
		*, h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; }
		a { text-decoration: none; }
		.w3-ul.job-list h4 { margin: 4px 0; }
		.job-list .w3-col {
			padding: 3px;
		}
	</style>
</head>
<body>
	<div class="w3-theme w3-large w3-card">
		<a href="/" class="w3-btn w3-xxlarge"><span class="fa fa-home"></span></a>
	</div>
	{{ block "main" .}}

	{{ end }}
	<!-- footer -->
	{{ partial "footer.html" . }}
</body>
</html>