{{ define "main" }}
	<div class="w3-container w3-padding-16">
		<h3 style="max-width: 800px; margin: auto;">{{.Title}}</h3>
		<ul class="w3-ul w3-card w3-round" style="max-width: 800px; margin: auto;">
			{{ range .Paginator.Pages }}
				<li class="w3-row">
					<div class="w3-col s10">{{.Title}}</div>
					<a href="{{.URL}}" class="w3-button w3-teal w3-small w3-col s2 w3-round material-icons">call_made</a>
					{{ if .Params.expires }}
						<p class="w3-tiny w3-col s6">Expires on:
							{{ range (.GetTerms "expires")}}
								<a href="{{ .URL }}" class="w3-tag w3-round">{{ dateFormat "Jan 06" .LinkTitle}}</a>
							{{end}}
						</p>
					{{ end }}
					{{ if .Params.salaries }}
						<p class="w3-tiny w3-col s6">Salary:
							{{ range (.GetTerms "salaries")}}
								<a href="{{ .URL }}" class="w3-tag w3-round">{{ .LinkTitle}}</a>
							{{end}}
						</p>
					{{ end }}
					{{ if .Params.locations }}
						<p class="w3-tiny w3-col s12">Locations:
							{{ range (.GetTerms "locations")}}
								<a href="{{ .URL }}" class="w3-tag w3-round">{{ .LinkTitle}}</a>
							{{end}}
						</p>
					{{ end }}
					{{ if .Params.qualifications }}
						<p class="w3-tiny w3-col s12">Qualifications:
							{{ range (.GetTerms "qualifications")}}
								<a href="{{ .URL }}" class="w3-tag w3-round">{{ .LinkTitle}}</a>
							{{end}}
						</p>
					{{ end }}
				</li>
			{{ end }}
		</ul>
		<div class="w3-section"></div>
		<div class="w3-bar" style="max-width: 800px; margin: auto;">
			{{ $currentPage := .Paginator.PageNumber }}
			{{ if .Paginator.HasPrev }}
			<a href="{{.Paginator.Prev.URL}}" class="w3-button">&laquo;</a>
			{{ end }}
			{{ range .Paginator.Pagers }}
			<a href="{{.URL}}" class="w3-button {{ if eq .PageNumber $currentPage}} w3-green {{end}}">{{.PageNumber}}</a>
			{{ end }}
			{{ if .Paginator.HasNext }}
			<a href="{{.Paginator.Next.URL}}" class="w3-button w3-right">&raquo;</a>
			{{ end }}
		</div>
	</div>
{{end}}
