<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="w3-theme-l4">
    <div class="wrap w3-text-theme" style="height: 100vh;display: flex;justify-content: center;align-items: center;text-align: center;">
      <div class="logo">
        <h1 style="font-size: 120px;" class="fas fa-exclamation-triangle"></h1>
        <h1 style="font-size: 80px;">Uh! Oh.</h1>
          <div class="w3-section"></div>
            <p>
              <a href="/" class="w3-btn w3-xlarge w3-theme w3-round-large">Back to Home</a>
            </p>
          </div>
      </div>
  </body>
</html>